* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: 'Roboto';
    background-color: #0d1117;
    color: #c9d1d9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #161b22;
}

header nav a {
    color: #c9d1d9;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

header nav a:hover {
    color: #ea580c;
}


.hero {
    max-width: 900px;
    margin: auto;
    text-align: center;
    padding: 50px 20px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.hero-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #f78166;
    object-fit: cover;
}

.btn {
    background-color: #f78166;
    color: white;
    padding: 0.8rem 1.6rem;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    transition: transform 0.2s, background-color 0.2s;
}

.btn:hover {
    background-color: #ea580c;
    transform: scale(1.05);
}


h1 {
    color: #f78166;
    font-size: 32px;
}

h2 {
    margin-top: 40px;
    color: #f78166;
    font-size: 24px;
}

p {
    max-width: 600px;
    margin: 10px auto;
    line-height: 1.5;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #f78166;
  }

.skills {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

.skills i {
    font-size: 40px;
    color: #f78166;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.project-card {
    background-color: #161b22;
    border-radius: 8px;
    padding: 20px;
    text-align: left;
}

.project-card h3 {
    color: #f78166;
}

.project-card h3:hover {
     color: #ea580c;
     transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #8b949e;
}

@media (min-width: 768px) {
    .hero-content {
        flex-direction: row;
        justify-content: center;
        align-items: center; /* Centraliza verticalmente */
        gap: 2rem; /* Aumenta espaçamento para telas grandes */
    }
}

